table {
    width: 100%;
  }

hr {
    height: 2px !important;
    color: black;
}

.addCustomer {
  background-color: white;
  width: 600px !important;
  height:200px;
  margin-top:20px;
  margin-bottom: 20px;
}

.addNewUserTitle {
  padding-left: 20px;
  padding-top: 20px;
}

.addSection {
  padding-left:20px;
}

.padding-left-8 {
  padding-left: 8px;
}
.padding-top-10 {
  padding-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}

.mainForm {
  padding:20px;
}