.titleBanner {
    width: 100%;
    height: 60px;
    background-color: grey;
}

.titleText {
    font-size: 32px;
    color: white;   
    padding-left: 20px;
    padding-top: 20px;
    height: 40px;
    
}



